<div id="home">
    <div class="container">


        <div id="talkbubble">
            <div class="web-links">
                <ul>
                    <li class="git-text" style="margin-bottom: 73px;">
                        <a href="https://github.com/luichemo/webportfolio" class="github">
                            <fa-icon [icon]="faGithub"></fa-icon>
                        </a>
                        <p style="margin-top: 5px;">G</p>
                        <p>i</p>
                        <p>t</p>
                        <p>h</p>
                        <p>u</p>
                        <p style="padding-bottom: 5px;">b</p>
                    </li>
                    <li class="link-text" style="margin-bottom: 31px;"><a
                            href="https://www.linkedin.com/in/luka-chemia-a0a339236/" class="linkedin"><fa-icon
                                [icon]="faLinkedin"></fa-icon></a>
                        <p style="margin-top: 5px;">L</p>
                        <p>i</p>
                        <p>n</p>
                        <p>k</p>
                        <p>e</p>
                        <p>d</p>
                        <p>i</p>
                        <p style="padding-bottom: 5px;">n</p>
                    </li>
                    <li class="inst-text" style="margin-bottom: 10px;"><a
                            href="https://www.instagram.com/luichemo/profilecard/?igsh=dW1oZGxwdGNjc2Y="
                            class="instagram"><fa-icon [icon]="faInstagram"></fa-icon></a>
                        <p style="margin-top: 5px;">I</p>
                        <p>n</p>
                        <p>s</p>
                        <p>t</p>
                        <p>a</p>
                        <p>g</p>
                        <p>r</p>
                        <p>a</p>
                        <p style="padding-bottom: 5px;">m</p>
                    </li>
                    <li class="fb-text" style="margin-bottom: 31px;"><a
                            href="https://www.facebook.com/lukaa2002?mibextid=LQQJ4d" class="facebook"><fa-icon
                                [icon]="faFacebook"></fa-icon></a>
                        <p style="margin-top: 5px;">F</p>
                        <p>a</p>
                        <p>c</p>
                        <p>e</p>
                        <p>b</p>
                        <p>o</p>
                        <p>o</p>
                        <p style="padding-bottom: 5px;">k</p>
                    </li>
                </ul>

            </div>
            <h1>Hey, I'm Luka Chemia, Software Engineer <span style="text-decoration: underline;">You</span> Need !</h1>
            <!-- <div class="email">
                <p>luka.chemia001&#64;gmail.com</p>
            </div> -->
            <div class="proj-btn">
                <button class="btn"><a href="#projects">Projects</a></button>
            </div>
        </div>


    </div>
</div>
<div id="about">
    <div class="container2">
        <div id="talkbubble2">
            <div class="about-header">
                <h1>About Me</h1>
                <hr>
                <p>Here you will find more information about me, what I do, and my current skills mostly in terms of
                    programming and technology.</p>
            </div>
            <div class="about-content">
                <div class="about-left-content">
                    <h2>Get To Know Me !</h2>
                    <p>Hello! I'm Luka, a dedicated IT professional with a strong background in frontend development.
                        Over the past five years, I've immersed myself in web design, completing comprehensive courses
                        and gaining practical experience. I excel in design thinking, wireframe creation, and coding. My
                        technical skills include HTML5, CSS3, SCSS, JavaScript, TypeScript, Angular and other. I
                        utilize tools like Figma, Adobe Illustrator, Photoshop, and more. I actively contribute to
                        projects as a volunteer, applying my knowledge and making a positive impact. I'm committed to
                        continuous learning, staying updated with industry trends.Curiosity and a growth mindset drive
                        me to find solutions to any challenge. In my free time, I indulge in music, singing, and playing
                        guitar and piano. My ultimate goal is to become a full-stack developer and establish my own
                        organization. I envision leading a team on innovative projects that make a meaningful impact.
                        I'm excited to contribute my skills and dedication to your organization. Let's connect and
                        create exceptional digital experiences together.
                    </p>
                    <div class="proj-btn" style="justify-content: start; margin-top: 20px;">
                        <button class="btn"><a href="#contact">Contact</a></button>
                    </div>
                </div>
                <div class="about-right-content">
                    <h2>My Skills</h2>
                    <div class="skills">
                        <div class="skills_icon"><img class="img-responsive" src="html.png" id="html"></div>
                        <div class="skills_icon"><img class="img-responsive" src="css.png" id="css"></div>
                        <div class="skills_icon"><img class="img-responsive" src="js.png" id="js"></div>
                        <div class="skills_icon"><img class="img-responsive" src="TypeScript.png" id="TypeScript"
                                style="margin-top:15px;"></div>
                        <div class="skills_icon"><img class="img-responsive" src="angular.png" id="angular"
                                style="margin-top:5px;"></div>
                        <div class="skills_icon"><img class="img-responsive" src="angularMaterial.png"
                                id="angularMaterial"></div>
                        <div class="skills_icon"><img class="img-responsive" src="github.png" id="github"></div>
                        <div class="skills_icon"><img class="img-responsive" src="bootstrap.png" id="bootstrap"></div>
                        <div class="skills_icon"><img class="img-responsive" src="figma.png" id="figma"
                                style="margin-top:10px;"></div>
                        <div class="skills_icon"><img class="img-responsive" src="adobe.png" id="adobe"></div>
                    </div>
                </div>

            </div>
            <div class="cv-content">
                <a href="Luka_Chemia_CV.pdf">
                    <p>View My Full Resume</p>
                    <fa-icon [icon]="faFilePdf"></fa-icon>
                </a>
            </div>

        </div>
    </div>
</div>
<div id="projects">
    <div class="container2">
        <div id="talkbubble3">
            <div class="about-header">
                <h1>Projects</h1>
                <hr>
                <p style="font-family: 'Sour Gummy', sans-serif !important;">Here you will find some of the personal
                    projects on that i worked with their source code and live link.</p>
            </div>
            <div class="project-content">
                <div class="proj">
                    <div class="proj-left-content"><img src="recipe_finder.png" alt=""></div>
                    <div class="proj-right-content">
                        <div>
                            <div class="project-header">Recipe Finder</div>
                            <div class="project-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem
                                error illo ipsa repellat pariatur iure, sunt veritatis ab nesciunt aperiam temporibus
                                distinctio ipsum a neque.</div>
                            <p class="tools_header">Tools</p>
                            <div class="tools">
                                <p>React</p>
                                <p>JavaScript</p>
                                <p>Html</p>
                                <p>SCSS</p>
                                <p>Tailwind</p>
                            </div>
                            <div class="project-btn">
                                <a href="https://luichemo.github.io/recipe-finder/"><button>Visit</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-content">
                <div class="proj">
                    <div class="proj-left-content"><img src="memoryGame.png" alt=""></div>
                    <div class="proj-right-content">
                        <div>
                            <div class="project-header">Memory Game</div>
                            <div class="project-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem
                                error illo ipsa repellat pariatur iure, sunt veritatis ab nesciunt aperiam temporibus
                                distinctio ipsum a neque.</div>
                            <p class="tools_header">Tools</p>
                            <div class="tools">
                                <p>JavaScript</p>
                                <p>CSS</p>
                                <p>Html</p>
                            </div>
                            <div class="project-btn">
                                <a href="memoryIndex.html"><button>Visit</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-content">
                <div class="proj">
                    <div class="proj-left-content"><img src="generator.png" alt=""></div>
                    <div class="proj-right-content">
                        <div>
                            <div class="project-header">Password Generator</div>
                            <div class="project-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem
                                error illo ipsa repellat pariatur iure, sunt veritatis ab nesciunt aperiam temporibus
                                distinctio ipsum a neque.</div>
                            <p class="tools_header">Tools</p>
                            <div class="tools">
                                <p>JavaScript</p>
                                <p>CSS</p>
                                <p>Html</p>
                                
                            </div>
                            <div class="project-btn">
                                <a href="https://luka123luka.pythonanywhere.com/password"><button>Visit</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-content">
                <div class="proj">
                    <div class="proj-left-content"><img src="snakeGame.png" alt=""></div>
                    <div class="proj-right-content">
                        <div>
                            <div class="project-header">Snake Game</div>
                            <div class="project-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem
                                error illo ipsa repellat pariatur iure, sunt veritatis ab nesciunt aperiam temporibus
                                distinctio ipsum a neque.</div>
                            <p class="tools_header">Tools</p>
                            <div class="tools">
                                <p>JavaScript</p>
                                <p>CSS</p>
                                <p>Html</p>
                            </div>
                            <div class="project-btn">
                                <a href="SnakeIndex.html"><button>Visit</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="contact">
    <div class="container2">
        <div id="talkbubble4">
            <div class="about-header">
                <h1>Get In Touch</h1>
                <hr>
                <p style="font-family: 'Sour Gummy', sans-serif !important;">Have a sweet project in mind or just want
                    to say hi? Feel free to send me a message by filling the form below and shoot the Send button!</p>
            </div>
            <div class="contact-content">
                <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                  <div class="form-field">
                    <mat-form-field appearance="fill">
                      <mat-label>Full name</mat-label>
                      <input matInput formControlName="fullName" required  style="margin-top: 5px;"/>
                    </mat-form-field>
                  </div>
              
                  <div class="form-field">
                    <mat-form-field appearance="fill">
                      <mat-label>Email</mat-label>
                      <input matInput placeholder="pat@example.com" formControlName="email" (blur)="updateErrorMessage()" required  style="margin-top: 5px;"/>
                      <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
                        {{ errorMessage() }}
                      </mat-error>
                    </mat-form-field>
                  </div>
              
                  <div class="form-field">
                    <mat-form-field appearance="fill">
                      <mat-label>Company Name</mat-label>
                      <input matInput  formControlName="companyName" required style="margin-top: 5px;" />
                    </mat-form-field>
                  </div>
              
                  <div class="form-field">
                    <mat-form-field appearance="fill">
                      <mat-label>Message</mat-label>
                      <textarea matInput formControlName="message" style="margin-top: 35px;"></textarea>
                    </mat-form-field>
                  </div>
              
                  <div class="project-btn">
                    <button type="submit" [disabled]="contactForm.invalid">Send</button>
                  </div>
                </form>
              </div>
              
              
        </div>
    </div>
</div>

<div id="footer">
    <div class="container2">
        <div id="talkbubble5">

            <div class="footer-content">
                <div class="footer-links">
                    <a href="https://github.com/luichemo/webportfolio" class="githubf footLink"><fa-icon
                            [icon]="faGithub"></fa-icon></a>
                    <a href="https://www.linkedin.com/in/luka-chemia-a0a339236/" class="linkedinf footLink"><fa-icon
                            [icon]="faLinkedin"></fa-icon></a>
                    <a href="https://www.instagram.com/luichemo/profilecard/?igsh=dW1oZGxwdGNjc2Y="
                        class="instagramf footLink"><fa-icon [icon]="faInstagram"></fa-icon></a>
                    <a href="https://www.facebook.com/lukaa2002?mibextid=LQQJ4d" class="facebookf footLink"><fa-icon
                            [icon]="faFacebook"></fa-icon></a>
                </div>
                <hr>

                <div class="scrol">
                    <a href="#home" class="rocketf"><fa-icon [icon]="faSpaceAwesome"></fa-icon></a>
                </div>
                <hr>
                <p>© Luka Chemia 2025.</p>
            </div>
        </div>
    </div>
</div>