<div id="home">
    <div class="container">
        
            
        <div id="talkbubble">
            <div class="web-links">
            <ul>
                <li class="git-text" style="margin-bottom: 73px;">
                    <a href="https://github.com/luichemo/webportfolio" class="github">
                    <fa-icon [icon]="faGithub"></fa-icon>
                    </a>
                    <p style="margin-top: 5px;">G</p>
                    <p>i</p>
                    <p>t</p>
                    <p>h</p>
                    <p>u</p>
                    <p style="padding-bottom: 5px;">b</p>
                </li>
                <li class="link-text" style="margin-bottom: 31px;"><a href="https://www.linkedin.com/in/luka-chemia-a0a339236/" class="linkedin"><fa-icon [icon]="faLinkedin"></fa-icon></a>
                    <p style="margin-top: 5px;">L</p>
                    <p>i</p>
                    <p>n</p>
                    <p>k</p>
                    <p>e</p>
                    <p>d</p>
                    <p>i</p>
                    <p style="padding-bottom: 5px;">n</p>
                </li>
                <li class="inst-text" style="margin-bottom: 10px;"><a href="https://www.instagram.com/luichemo/profilecard/?igsh=dW1oZGxwdGNjc2Y=" class="instagram"><fa-icon [icon]="faInstagram"></fa-icon></a>
                    <p style="margin-top: 5px;">I</p>
                    <p>n</p>
                    <p>s</p>
                    <p>t</p>
                    <p>a</p>
                    <p>g</p>
                    <p>r</p>
                    <p>a</p>
                    <p style="padding-bottom: 5px;">m</p></li>
                <li class="fb-text" style="margin-bottom: 31px;"><a href="https://www.facebook.com/lukaa2002?mibextid=LQQJ4d" class="facebook"><fa-icon [icon]="faFacebook"></fa-icon></a>
                    <p style="margin-top: 5px;">F</p>
                    <p>a</p>
                    <p>c</p>
                    <p>e</p>
                    <p>b</p>
                    <p>o</p>
                    <p>o</p>
                    <p style="padding-bottom: 5px;">k</p>
                </li>
            </ul>

            </div>
            <h1>Hey, I'm Luka Chemia, Software Engineer <span style="text-decoration: underline;">You</span> Need !</h1>
            <!-- <div class="email">
                <p>luka.chemia001&#64;gmail.com</p>
            </div> -->
            <div class="proj-btn">
                <button class="btn"><a href="#projects">Projects</a></button>
            </div>
        </div>
        
        
    </div>
</div>
<div id="about">
    <div class="container2">
        <div id="talkbubble2">
            <div class="about-header">
                <h1>About Me</h1>
                <hr>
                <p>Here you will find more information about me, what I do, and my current skills mostly in terms of programming and technology.</p>
            </div>
            <div class="about-content">
                <div class="about-left-content">
                    <h2>Get To Know Me !</h2>
                    <p>I'm a passionate and dedicated Java Full-Stack Web Developer with a proven track record of creating robust and scalable web applications. My expertise spans both front-end and back-end technologies, including Java, Spring Boot and Angular. With a keen eye for design and a commitment to clean, efficient code, I strive to deliver exceptional user experiences. I excel in problem-solving and collaborating with cross-functional teams to deliver innovative solutions. I'm excited to leverage my skills to tackle new challenges and drive innovation in the world of Full Stack development.

                        I also like sharing content related to the stuff that I have learned over the years in Web Development so it can help other people of the Dev Community. 
                       </p>
                       <div class="proj-btn" style="justify-content: start; margin-top: 20px;">
                        <button class="btn" ><a href="#projects">Projects</a></button>
                    </div>
                </div>
                <div class="about-right-content">
                    <h2>My Skills</h2>
                    <div class="skills">
                        <div class="skills_icon"><img class="img-responsive" src="html.png" id="html"></div>
                        <div class="skills_icon"><img class="img-responsive" src="css.png" id="css"></div>
                        <div class="skills_icon"><img class="img-responsive" src="js.png" id="js"></div>
                        <div class="skills_icon"><img class="img-responsive" src="TypeScript.png" id="TypeScript" style="margin-top:15px;"></div>
                        <div class="skills_icon"><img class="img-responsive" src="angular.png" id="angular" style="margin-top:5px;"></div>
                        <div class="skills_icon"><img class="img-responsive" src="angularMaterial.png" id="angularMaterial"></div>
                        <div class="skills_icon"><img class="img-responsive" src="github.png" id="github"></div>
                        <div class="skills_icon"><img class="img-responsive" src="bootstrap.png" id="bootstrap"></div>
                        <div class="skills_icon"><img class="img-responsive" src="figma.png" id="figma" style="margin-top:10px;"></div>
                        <div class="skills_icon"><img class="img-responsive" src="adobe.png" id="adobe"></div>
                    </div>
                </div>
                
            </div>
            <div class="cv-content">
                <a href="Luka_Chemia_CV.pdf">
                  <p>View My Full Resume</p>
                  <fa-icon [icon]="faFilePdf"></fa-icon>
                </a>
              </div>
              
        </div>
    </div>
</div>
<div id="projects">
    <div class="container2">
        <div id="talkbubble3">
            <div class="about-header" >
                <h1>Projects</h1>
                <hr>
                <p style="font-family: 'Sour Gummy', sans-serif !important;">Here you will find some of the personal and clients projects on that i worked with their source code and live link.</p>
            </div>
            <div class="project-content">
                <div class="proj">
                    <div class="proj-left-content"><img src="recipe_finder.png" alt=""></div>
                    <div class="proj-right-content">   
                        <div>
                        <div class="project-header">Recipe Finder</div>
                        <div class="project-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem error illo ipsa repellat pariatur iure, sunt veritatis ab nesciunt aperiam temporibus distinctio ipsum a neque.</div>
                        <p class="tools_header">Tools</p>
                         <div class="tools">
                            <p>Java</p>
                            <p>Java</p>
                            <p>Java</p>
                            <p>Java</p>
                            <p>Java</p>
                            <p>Java</p>
                         </div>
                         <div class="project-btn">
                            <button ><a href="https://luichemo.github.io/recipe-finder/">Visit</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="project-content">
            <div class="proj">
                <div class="proj-left-content"><img src="recipe_finder.png" alt=""></div>
                <div class="proj-right-content">   
                    <div>
                    <div class="project-header">Recipe Finder</div>
                    <div class="project-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem error illo ipsa repellat pariatur iure, sunt veritatis ab nesciunt aperiam temporibus distinctio ipsum a neque.</div>
                    <p class="tools_header">Tools</p>
                     <div class="tools">
                        <p>Java</p>
                        <p>Java</p>
                        <p>Java</p>
                        <p>Java</p>
                        <p>Java</p>
                        <p>Java</p>
                     </div>
                     <div class="project-btn">
                        <button ><a href="#projects">Visit</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="project-content">
        <div class="proj">
            <div class="proj-left-content"><img src="recipe_finder.png" alt=""></div>
            <div class="proj-right-content">   
                <div>
                <div class="project-header">Recipe Finder</div>
                <div class="project-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem error illo ipsa repellat pariatur iure, sunt veritatis ab nesciunt aperiam temporibus distinctio ipsum a neque.</div>
                <p class="tools_header">Tools</p>
                 <div class="tools">
                    <p>Java</p>
                    <p>Java</p>
                    <p>Java</p>
                    <p>Java</p>
                    <p>Java</p>
                    <p>Java</p>
                 </div>
                 <div class="project-btn">
                    <button ><a href="#projects">Visit</a></button>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
</div>
<div id="contact">

</div>






