<div class="container">
    <div class="content">
        <div class="logo">
            <div class="logo-txt">
                <p><a [routerLink]="['/home'] "[routerLinkActive]="['active']">LC</a></p>
            </div>
             <div class="wrapper">
                <div class="static-txt">I'm a</div>
                <ul class="dynamic-txts">
                    <li><span>Developer</span></li>
                    <li><span>Engineer</span></li> 
                    <li><span>Designer</span></li>
                    <li><span>Freelancer</span></li>
                </ul>
             </div>
        
        </div>
        <div class="menu">
            <span class="material-symbols-outlined" style="z-index: 1000;" (click)="toggleMenu()">
                {{ showMenu ? 'collapse_content' : 'expand_content' }}
              </span>
             @if(showMenu){
                <ul>
                    <li><a [routerLink]="['/home'] "[routerLinkActive]="['active']">Home</a></li>
                    <li><a [routerLink]="['/about'] "[routerLinkActive]="['active']">About</a></li>
                    <li><a [routerLink]="['/projects'] "[routerLinkActive]="['active']">Projects</a></li>
                    <li><a [routerLink]="['/contact'] "[routerLinkActive]="['active']">Contact</a></li>
                </ul>
             }
            
        </div>
    </div>
</div>
